<div class="col">
  <div class="row p-3 ">
    <div class="col-md-7 d-flex align-items-center p-0 ">
      <h4>Liste des categories</h4>
    </div>
    <div class="col-md-5 text-end pe-3 pt-1">
      <app-bouton-action
        (clickEvent)="nouvelleCategorie()"
      ></app-bouton-action>
    </div>
  </div>
  <div class="row p-3">
    <div class="card p-3" style="height:300px; overflow-y: scroll; " *ngIf="listCategories.length > 0">
      <div class="alert alert-danger" *ngIf="errorsMsg">
        {{errorsMsg}}
      </div>
      <div class="card col d-flex flex-row p-2 mb-2 height40 align-items-center"  *ngFor="let category of listCategories">
        <div class="col-md-3 border-right ps-3">
          {{category.code}}
        </div>
        <div class="col-md-3 border-right ps-3">{{category.designation}}</div>
        <div class="col ps-3  ">
          <div class="col  d-flex justify-content-around ">
            <button type="button" class="btn btn-link  p-0 text-warning text-center" (click)="modifierCategory(category.id)">
              <i class="fa-solid fa-pencil"></i><br/>
              Modifier
            </button>
            <button type="button" class="btn btn-link  p-0 text-danger text-center" data-bs-toggle="modal" data-bs-target="#modalDelCat" (click)="selectCategoriePourSupprimer(category.id)">
              <i class="fa-solid fa-trash-can"></i><br/>
              Supprimer
            </button>
            <button  type="button" class="btn btn-link p-0 text-primary">
              <i class="fa-regular fa-rectangle-list"></i><br/>
              Details
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="row p-0 text-center mt-3 mb-3">
    <app-pagination></app-pagination>
  </div>


</div>

<!-- Modal -->
<div class="modal fade" id="modalDelCat" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Voulez vous supprimer cette categorie ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="annulerSuppressionCat()">
          <i class="fa-solid fa-ban"></i>&nbsp;
          Annuler
        </button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="confirmerEtSupprimerCat()">
          <i class="fa-solid fa-trash-can"></i>&nbsp;
          Supprimer
        </button>
      </div>
    </div>
  </div>
</div>
