<div class="col">
  <div class="row p-3 ">
    <div class="col-md-7 d-flex align-items-center p-0 ">
      <h4>Liste des categories</h4>
    </div>
    <div class="col-md-5 text-end pe-3 pt-1">
      <app-bouton-action
        (clickEvent)="nouvelleCategorie()"
      ></app-bouton-action>
    </div>
  </div>
  <div class="row p-3">
    <div class="card p-3" style="height:300px; overflow-y: scroll; ">
      <div class="card col d-flex flex-row p-2 mb-2">
        <div class="col-md-4 border-right ps-3">
          PRD-ALIM
        </div>
        <div class="col-md-8 ps-3"> Produits alimentaires</div>
      </div>
      <div class="card col d-flex flex-row p-2 mb-2">
        <div class="col-md-4 border-right ps-3">
          PRD-ALIM
        </div>
        <div class="col-md-8 ps-3"> Produits alimentaires</div>
      </div>
      <div class="card col d-flex flex-row p-2 mb-2">
        <div class="col-md-4 border-right ps-3">
          PRD-ALIM
        </div>
        <div class="col-md-8 ps-3"> Produits alimentaires</div>
      </div>
      <div class="card col d-flex flex-row p-2 mb-2">
        <div class="col-md-4 border-right ps-3">
          PRD-ALIM
        </div>
        <div class="col-md-8 ps-3"> Produits alimentaires</div>
      </div>
      <div class="card col d-flex flex-row p-2 mb-2">
        <div class="col-md-4 border-right ps-3">
          PRD-ALIM
        </div>
        <div class="col-md-8 ps-3"> Produits alimentaires</div>
      </div>

    </div>
  </div>
  <div class="row p-0 text-center mt-3 mb-3">
    <app-pagination></app-pagination>
  </div>


</div>
