<div class="row">
  <div class="col-md-4 p-0">
    <button type="button" class="btn btn-warning police">
      <i class="fa-solid fa-cloud-arrow-up"></i>&nbsp;
      Importer
    </button>
  </div>
  <div class="col-md-4 p-0">
    <button type="button" class="btn btn-success police">
      <i class="fa-solid fa-cloud-arrow-down"></i>&nbsp;
      Exporter
    </button>
  </div>
  <div class="col-md-4 p-0">
    <button type="button" class="btn btn-primary police">
      <i class="fa-solid fa-plus"></i>&nbsp;
      Nouveau
    </button>
  </div>
</div>
