<div class="col p-3">
  <div class="col-md-12 p-2">
    <img src="assets/product.png" alt="user" class="rounded-circle " width="70px" height="70px" />
  </div>
  <div class="col-md-12 card p-3 mb-3">
    <div class="alert alert-danger" *ngIf="errorMsg.length > 0">
      <div *ngFor="let msg of errorMsg">{{msg}}</div><br/>
    </div>
    <div class="row text-primary mb-3">
      <div class="col fs-6">
        <i class="fa-solid fa-circle-info"></i>&nbsp;
        Information {{origin}}
      </div>
      <div class="col fs-6">
        <i class="fa-solid fa-house"></i>
        Adresse {{origin}}
      </div>
    </div>

    <form [formGroup]="clientFournisseurForm"  (ngSubmit)="enregistrerCltFrsUt()">
      <div class="row mb-3">
        <div class="col">
          <input type="text" class="form-control" placeholder="Nom" formControlName="nom"  [(ngModel)]="clientFournisseur.nom">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Adresse 1" formControlName="adresse1" [(ngModel)]="adresseDto.adresse1">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input type="text" class="form-control" placeholder="Prenom" formControlName="prenom" [(ngModel)]="clientFournisseur.prenom" >
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Adresse 2" formControlName="adresse2" [(ngModel)]="adresseDto.adresse2">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input type="email" class="form-control" placeholder="E-mail"  formControlName="email"  [(ngModel)]="clientFournisseur.mail">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Ville"  formControlName="ville" [(ngModel)]="adresseDto.ville">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input type="text" class="form-control" placeholder="Telephone"  formControlName="telephone" [(ngModel)]="clientFournisseur.numTel">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Code postal"  formControlName="code_postal" [(ngModel)]="adresseDto.codePostale">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          &nbsp;
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Pays"  formControlName="pays" [(ngModel)]="adresseDto.pays">
        </div>
      </div>
      <app-bouton-action-annuler></app-bouton-action-annuler>
    </form>

  </div>

</div>
