<div class="row d-flex flex-row">
  <!--  Image-->
  <div class="col-md-2 d-flex align-items-center justify-content-center border-right">
    <img src="assets/product.png" alt="product" width="70px" height="70px"/>
  </div>
  <!--  client/fournisseur-->
  <div class="col-md-4 border-right">
    <div class="col d-flex">
      <div class="col-md-2 text-center me-2">
        <i class="fa-solid fa-circle-info text-primary"></i>
      </div>
      <div class="col-md-10 text-start">
        Nom
      </div>
    </div>
    <div class="col d-flex">
      <div class="col-md-2 text-center me-2">
        <i class="fa-solid fa-circle-info text-primary"></i>
      </div>
      <div class="col-md-10 text-start">
        Prenom
      </div>
    </div>
    <div class="col d-flex">
      <div class="col-md-2 text-center me-2">
        <i class="fa-solid fa-phone-alt text-primary"></i>
      </div>
      <div class="col-md-10 text-start">
        0011 22 33 44 55
      </div>
    </div>
  </div>
  <!--  detail commande-->
  <div class="col-md-3 border-right ">
    <div class="col d-flex">
      <div class="col-md-2 text-center me-2">
        <i class="fa-solid fa-qrcode text-primary"></i>
      </div>
      <div class="col-md-10 text-start">
        CMD-123456789
      </div>
    </div>
    <div class="col d-flex">
      <div class="col-md-2 text-center me-2">
        <i class="fa-solid fa-calendar-check text-primary"></i>
      </div>
      <div class="col-md-10 text-start">
        12.12.2012
      </div>
    </div>
    <div class="col d-flex">
      <div class="col-md-2 text-center me-2">
        <i class="fa-solid fa-cart-arrow-down text-primary"></i>
      </div>
      <div class="col-md-10 text-start">
        LIVREE
      </div>
    </div>
  </div>
  <!--  Action-->
  <div class="col-md-3 d-flex align-items-center justify-content-center text-center" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <div class="col-md-6 text-decoration text-primary">
      <i class="fa-solid fa-pen "></i><br/>
      Modifier
    </div>
    <div class="col-md-6 text-decoration text-danger">
      <i class="fa-solid fa-trash "></i><br/>
      Supprimer
    </div>
  </div>
</div>

