<div class="card row d-flex flex-row p-2 mb-2">
  <!--  Date-->
  <div class="col-md-3 d-flex align-items-center justify-content-center border-right">
    <div>
      <i class="fa-solid fa-calendar-days"></i>&nbsp;
      12.12.2012
    </div>
  </div>
  <!--  Article-->
  <div class="col-md-2 d-flex align-items-center justify-content-center border-right">
    <div class="text-danger">
        12
    </div>
  </div>
  <!--  Mvt-->
  <div class="col-md-3 d-flex align-items-center justify-content-center border-right">
    <div class="text-danger">
      <i class="fa-solid fa-circle-minus"></i>&nbsp;
      Sortie
    </div>
  </div>
  <!--  Action-->
  <div class="col-md-4 d-flex align-items-center justify-content-center">
    <div class=" ">
      <i class="fa-solid fa-user"></i>&nbsp;
      COMMANDE_CLIENT
    </div>
  </div>
</div>
