<div class="main-container">
  <div class="row min-height-500 no-wrap">
    <div class="card col-md-2 me-2">
      Menu Left
    </div>
    <div class="card col-md-10  border-none background-grey d-flex justify-content-between ">
      <div class="card row min-height-80 ps-0 pe-0">
        header
      </div>
      <div class="card row ps-0 pe-0" style="min-height: 320px">
        main
      </div>
      <div class="card row min-height-80 ps-0 pe-0">
        footer
      </div>
    </div>
  </div>
</div>
