<div class="card mb-2 pt-2 pb-2  d-flex flex-row">
  <!--  Image-->
  <div class="col-md-2 d-flex align-items-center justify-content-center border-right">
    <img src="assets/product.png" alt="product" width="100px" height="100px"/>
  </div>
  <!--  Article-->
  <div class="col-md-3 border-right pt-3">
    <div class="col d-flex">
      <div class="col-md-2 text-center">
        <i class="fa-solid fa-circle-info text-primary"></i>
      </div>
      <div class="col-md-10">
        Nom
      </div>
    </div>
    <div class="col d-flex">
      <div class="col-md-2 text-center">
        <i class="fa-solid fa-circle-info text-primary"></i>
      </div>
      <div class="col-md-10">
        Prenom
      </div>
    </div>
    <div class="col d-flex">
      <div class="col-md-2 text-center">
        <i class="fa-solid fa-square-phone text-success"></i>
      </div>
      <div class="col-md-10">
        0011 22 33 44 55
      </div>

    </div>
  </div>



  <!--  Categorie-->
  <div class="col-md-3 border-right d-flex pt-3">
    <div class="col-md-2 text-center">
      <i class="fa-solid fa-house text-primary"></i>
    </div>
    <div class="col-md-10 text-start">
      <div class="col mb-2">
        Adresse 1 Adresse 2
      </div>
      <div class="col">12345 ville</div>
      <div class="col">Pays</div>
    </div>
  </div>
  <!--  Action-->
  <div class="col-md-4 d-flex align-items-center text-center">
    <div class="col d-flex">
      <div class="col-md-4 p-0 text-warning">
        <i class="fa-solid fa-pencil"></i><br/>
        Modifier
      </div>
      <div class="col-md-4 p-0 text-danger">
        <i class="fa-solid fa-trash-can"></i><br/>
        Supprimer
      </div>
      <div class="col-md-4 p-0 text-primary">
        <i class="fa-regular fa-rectangle-list"></i><br/>
        Details
      </div>
    </div>
  </div>
</div>
