<div class="row m-3 no-wrap">
  <div class="card col-md-5 text-center p-3 me-3">
    <div class="row">
      <div class="col-md-12">
        <img src="assets/product.png" class="rounded-circle" alt="profil" width="100px" height="100px">
      </div>
      <div class="col-md-12">
        <h5>Nom Prenom</h5>
      </div>
      <div class="col-md-12 mb-3">
        <small class="text-muted form-text">Adresse, Ville, 12345</small>
      </div>
    </div>
  </div>
  <div class="card col-md-7 text-start p-3">
    <div class="row p-0">
      <h5>Changer le mot de passe</h5>
    </div>
    <div class="row p-2">
      <input type="text" class="form-control form-control-sm" placeholder="Ancien mot de passe">
    </div>
    <div class="row p-2">
      <input type="text" class="form-control form-control-sm" placeholder="Nouveau mot de passe">
    </div>
    <div class="row p-2 mb-3">
      <input type="text" class="form-control form-control-sm" placeholder="Repeter mot de passe">
    </div>
    <div class="row text-end">
      <div>
        <button type="button" class="btn btn-danger me-3">
          <i class="fa-solid fa-ban"></i>&nbsp;
          Annuler
        </button>
        <button type="button" class="btn btn-primary">
          <i class="fa-solid fa-save"></i>&nbsp;
          Enregistrer
        </button>
      </div>
    </div>

  </div>
</div>
