<div class="row m-3 no-wrap">
  <div class="card col-md-5 text-center p-3 me-3">
    <div class="row">
      <div class="col-md-12 mb-2">
        <img src="assets/product.png" class="rounded-circle" alt="profil" width="100px" height="100px">
      </div>
      <div class="col-md-12">
        <h5>Nom Prenom</h5>
      </div>
      <div class="col-md-12 mb-3">
        <small class="text-muted form-text">Adresse, Ville, 12345</small>
      </div>
    </div>
    <div class="row mt-3 mb-3">
      <div class="col-md-3">
        <button type="button" class="btn btn-sm btn-primary">Modifier</button>
      </div>
      <div class="col">

        <a href="javascript:void(0);" [routerLink]="['/changermdp']" class="btn btn-sm btn-info">
          <i class="fa-solid fa-lock"></i>&nbsp;
          Changer mot de passe
        </a>
      </div>
    </div>
  </div>
  <div class="card col-md-7 text-start p-3">
    <div class="row">
      <div class="col-md-5 ">
        <h5>Nom complet</h5>
      </div>
      <div class="col">
        <small class="text-muted form-text">Nom Prenom</small>
      </div>
      <hr>
    </div>

    <div class="row">
      <div class="col-md-5">
        <h5>Email</h5>
      </div>
      <div class="col">
        <small class="text-muted form-text">email&#64;mail.com</small>
      </div>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-5">
        <h5>Telephone</h5>
      </div>
      <div class="col">
        <small class="text-muted form-text">0011 22 33 44 55</small>
      </div>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-5">
        <h5>Adresse</h5>
      </div>
      <div class="col">
        <small class="text-muted form-text">Adresse, Ville, 12345</small>
      </div>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-5">
        <h5>Entreprise</h5>
      </div>
      <div class="col">
        <small class="text-muted form-text">Nom entreprise</small>
      </div>
      <hr>
    </div>

  </div>
</div>
