<div class="container my-container">
  <div class="card ">
    <div class="card-header text-center">
      <h3>S'authentifier</h3>
    </div>
    <div class="card-body">
      <div class="alert alert-danger" role="alert" *ngIf="errorMsg">
        {{errorMsg}}
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <input type="email" class="form-control" placeholder="E-mail" id="email" formControlName="email">
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" placeholder="Mot de passe" id="password" formControlName="password">
        </div>
        <div class="mb-3 d-flex justify-content-between">
          <a [routerLink]="['/signup']" class="btn btn-link">S'inscrire</a>
          <button type="submit" class="btn btn-primary"><i class="fa-solid fa-check"></i>&nbsp;Se connecter</button>
        </div>
      </form>
    </div>
  </div>

</div>
