<div class="col p-3">
  <div class="col-md-12 p-2">
    <button (click)="inputFile.click()" style="background-color: transparent; border: none">
      <img [src]="imgUrl" alt="user" class="rounded-circle " width="70px" height="70px" />
      <input hidden type="file" #inputFile (change)="onFileInput(inputFile.files)"/>
    </button>

  </div>
  <div class="col-md-12 card p-3 mb-3">
    <div class="col-md-12 text-primary mb-3">
      <i class="fa-solid fa-circle-info"></i>&nbsp;
      Information de l'article
    </div>
    <div class="alert alert-danger" *ngIf="errorMsg.length > 0">
      <span *ngFor="let msg of errorMsg"> {{msg}} <br/> </span>
    </div>
    <form [formGroup]="artForm" (ngSubmit)="saveArticle()">
      <div class="row mb-3">
        <div class="col">
          <input type="text" class="form-control" placeholder="Code article" name="codeArt" formControlName="codeArt" [(ngModel)]="articleDto.codeArticle" required>
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Designation" name="designationArt" formControlName="designationArt" [(ngModel)]="articleDto.designation" required>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input type="text" class="form-control" placeholder="Prix unitaire HT" name="puhtArt" (input)="calculerTTC()" formControlName="puhtArt" [(ngModel)]="articleDto.prixUnitaireHt" required>
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Taux TVA" name="ttvaArt" (input)="calculerTTC()" formControlName="ttvaArt" [(ngModel)]="articleDto.tauxTva" required>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col">
          <input type="text" class="form-control" placeholder="Prix unitaire TTC" name="puttcArt" formControlName="puttcArt" [(ngModel)]="articleDto.prixUnitaireTtc" required>
        </div>
        <div class="col">
          <select class="form-select" name="cat" formControlName="cat" [(ngModel)]="categoryDto.id" required>
            <option selected>Selectionner une categorie</option>
            <option *ngFor="let cat of listCategory" [value]="cat.id">{{cat.code}} - {{cat.designation}}</option>
          </select>
        </div>
      </div>
      <app-bouton-action-annuler></app-bouton-action-annuler>
    </form>
  </div>

</div>
