<div class="row pt-3 ps-1">
  <h5>Nouvelle commande {{origin}}</h5>
</div>
<div class="alert alert-danger" *ngFor="let msg of errorMsg">
  {{msg}}
</div>
<form (ngSubmit)="enregistrerCommande()">
<div class="row p-3">
  <div class="card  pe-3 mb-1">
    <div class="row">
      <div class="col-md-5 p-3 border-right">
        <div class="row mb-1">
          <input type="text" class="form-control form-control-sm" placeholder="Code de la commande" name="codeCmd" [(ngModel)]="codeCommande">
        </div>
        <div class="row mb-1"></div>
        <div class="row mb-1">
          <select class="form-select form-select-sm" aria-label="Default select example" name="cltFrs"  [(ngModel)]="selectedClientFournisseur" name="cltFrs"  >
            <option selected [ngValue]="null" disabled>Selectionner un {{this.origin}}</option>
            <option *ngFor="let client of listCltFrs" [ngValue]="client">{{client.prenom}}&nbsp;{{client.nom}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-5  p-3 border-right" *ngIf="selectedClientFournisseur.nom">
        <div class="col d-flex mb-1">
          <div class="col-md-2 text-center">
            <i class="fa-solid fa-user text-primary"></i>
          </div>
          <div class="col-md-10">
            {{selectedClientFournisseur.nom}}
          </div>
        </div>
        <div class="col d-flex mb-1">
          <div class="col-md-2 text-center">
            <i class="fa-solid fa-envelope text-primary"></i>
          </div>
          <div class="col-md-10">
            {{selectedClientFournisseur.mail}}
          </div>
        </div>
        <div class="col d-flex mb-1">
          <div class="col-md-2 text-center">
            <i class="fa-solid fa-square-phone text-success"></i>
          </div>
          <div class="col-md-10">
            {{selectedClientFournisseur.numTel}}
          </div>
        </div>
        <div class="col d-flex">
          <div class="col-md-2 text-center">
            <i class="fa-solid fa-hourglass-end text-warning"></i>
          </div>
          <div class="col-md-10 text-primary">
            En preparation
          </div>
        </div>
      </div>
      <div class="col-md-2 align-items-center d-flex" *ngIf="selectedClientFournisseur.nom">
        <img src="assets/product.png" alt="product" width="100px" height="100px"/>
      </div>
    </div>
  </div>
  <div class="card p-0 mb-1">

    <div class="row p-2">
      <div class="col-md-4">
        <input type="text" class="form-control form-control-sm" placeholder="Code Article" name="codeAritcle" [(ngModel)]="codeArticle" (input)="searchArticle()">
        <div *ngIf="codeArticle.length > 0 && articleNotYetSelected" class="autoComplete shadow p-2 bg-white rounded">
          <p class="mb-0 p-1" *ngFor="let article of listArticle"
             (click) = "selectArticle(article)"
          >
            {{article.codeArticle}}&nbsp; {{article.designation}}
          </p>
        </div>
      </div>
      <div class="col-md-4 ">
        <input type="text" class="form-control form-control-sm" placeholder="Quantite" name="quantite" [(ngModel)]="quantite">
      </div>
      <div class="col-md-4 ">
        <div class="row pe-3">
          <div class="col-md-10">
            <input type="text" class="form-control form-control-sm" placeholder="Prix unitaire" name="prixUnitaire" [(ngModel)]="searchedArticle.prixUnitaireTtc">
          </div>
          <div class="col-md-1">
            <button type="button" class="btn btn-success btn-sm" (click)="ajouterLigneDeCommande()">
              <i class="fa-solid fa-plus"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card p-0 mb-3">
    <div class="card-body" style="height: 300px; overflow-y: scroll;">
      <app-detail-cmd
        *ngFor="let ligne of lignesCommandes"
        [ligneCommande]="ligne"
      ></app-detail-cmd>
    </div>
    <div class="card-footer ">
      <div class="row text-end">
        <h5>Total de la commande {{totalCommande}} FCFA</h5>
      </div>
    </div>
  </div>
  <app-bouton-action-annuler></app-bouton-action-annuler>
</div>
</form>

