<div class="row p-3">
  <h5>Nouvelle commande</h5>
</div>

<div class="row p-3">
  <div class="card  pe-3 mb-1">
    <div class="row">
      <div class="col-md-5 p-3 border-right">
        <div class="row mb-1">
          <input type="email" class="form-control form-control-sm" placeholder="Code de la commande">
        </div>
        <div class="row mb-1">
          <div class="col-md-11 p-0">
            <input type="date" class="form-control form-control-sm" placeholder="Code de la commande">
          </div>
          <div class="col-md-1 text-end align-items-center d-flex">
            <i class="fa-regular fa-calendar-days"></i>
          </div>
        </div>
        <div class="row mb-1">
          <select class="form-select form-select-sm" aria-label="Default select example">
            <option value="1" selected>Jules Best</option>
            <option value="2">Thierno lo</option>
          </select>
        </div>
      </div>
      <div class="col-md-5  p-3 border-right">
        <div class="col d-flex">
          <div class="col-md-2 text-center">
            <i class="fa-solid fa-user text-primary"></i>
          </div>
          <div class="col-md-10">
            Souleymane Fall
          </div>
        </div>
        <div class="col d-flex">
          <div class="col-md-2 text-center">
            <i class="fa-solid fa-envelope text-primary"></i>
          </div>
          <div class="col-md-10">
            souleymanefallpro&#64;gmail.com
          </div>
        </div>
        <div class="col d-flex">
          <div class="col-md-2 text-center">
            <i class="fa-solid fa-square-phone text-success"></i>
          </div>
          <div class="col-md-10">
            0011 22 33 44 55
          </div>
        </div>
        <div class="col d-flex">
          <div class="col-md-2 text-center">
            <i class="fa-solid fa-hourglass-end text-warning"></i>
          </div>
          <div class="col-md-10">
            En preparation
          </div>
        </div>
      </div>
      <div class="col-md-2 align-items-center d-flex">
        <img src="assets/product.png" alt="product" width="100px" height="100px"/>
      </div>
    </div>
  </div>
  <div class="card p-0 mb-1">
    <div class="row p-2">
      <div class="col-md-4">
        <input type="text" class="form-control form-control-sm" placeholder="Article">
      </div>
      <div class="col-md-4 ">
        <input type="text" class="form-control form-control-sm" placeholder="2">
      </div>
      <div class="col-md-4 ">
        <div class="row pe-3">
          <div class="col-md-10">
            <input type="text" class="form-control form-control-sm" placeholder="18,2$">
          </div>
          <div class="col-md-1">
            <button type="button" class="btn btn-success btn-sm">
              <i class="fa-solid fa-plus"></i>
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="card p-0 mb-3">
    <div class="card-body" style="height: 300px; overflow-y: scroll;">
      <app-detail-cmd></app-detail-cmd>
      <app-detail-cmd></app-detail-cmd>
      <app-detail-cmd></app-detail-cmd>
      <app-detail-cmd></app-detail-cmd>
      <app-detail-cmd></app-detail-cmd>
      <app-detail-cmd></app-detail-cmd>
      <app-detail-cmd></app-detail-cmd>
      <app-detail-cmd></app-detail-cmd>
      <app-detail-cmd></app-detail-cmd>
      <app-detail-cmd></app-detail-cmd>
      <app-detail-cmd></app-detail-cmd>
    </div>
    <div class="card-footer ">
      <div class="row text-end">
        <h5>Total de la commande 102,83$</h5>
      </div>
    </div>
  </div>
  <div class="col-md-12 mb-3 text-end">
    <div>
      <button type="button" class="btn btn-danger me-3">
        <i class="fa-solid fa-ban"></i>&nbsp;
        Annuler
      </button>
      <button type="button" class="btn btn-primary">
        <i class="fa-solid fa-save"></i>&nbsp;
        Enregistrer
      </button>
    </div>
  </div>
</div>


