<div class="col p-3">
  <div class="col-md-12 p-2">
    <img src="assets/product.png" alt="user" class="rounded-circle " width="70px" height="70px" />
  </div>
  <div class="col-md-12 card p-3 mb-3">
    <div class="row text-primary mb-3">
      <div class="col">
        <i class="fa-solid fa-circle-info"></i>&nbsp;
        Information du client /fournisseur
      </div>
      <div class="col">
        <i class="fa-solid fa-house"></i>
        Adresse du client
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <input type="text" class="form-control" placeholder="Nom">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Adresse 1">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <input type="text" class="form-control" placeholder="Prenom">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Adresse 2">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <input type="email" class="form-control" placeholder="E-mail">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Ville">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <input type="text" class="form-control" placeholder="Telephone">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Code postal">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        &nbsp;
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Pays">
      </div>
    </div>

  </div>
  <div class="col-md-12 mb-3 text-end">
    <div>
      <button type="button" class="btn btn-danger me-3">
        <i class="fa-solid fa-ban"></i>&nbsp;
        Annuler
      </button>
      <a [routerLink]="'/articles'" class="btn btn-primary">
        <i class="fa-solid fa-save"></i>&nbsp;
        Enregistrer
      </a>
    </div>
  </div>
</div>
