
<div class="card row d-flex flex-row p-2 mb-2">
  <!--  Code article-->
  <div class="col-md-2 d-flex align-items-center justify-content-center border-right">
    <div>
      ART-1234
    </div>
  </div>
  <!--  Description-->
  <div class="col-md-4 d-flex align-items-center justify-content-center border-right">
    <div class="">
      Description de l'article
    </div>
  </div>
  <!--  Quantite-->
  <div class="col-md-2 d-flex align-items-center justify-content-center border-right">
    <div class="">
      6
    </div>
  </div>
  <!--  Prix unitaire-->
  <div class="col-md-2 d-flex align-items-center border-right justify-content-center">
    <div class=" ">
      12,3
    </div>
  </div>
  <!--  Prix total-->
  <div class="col-md-2 d-flex align-items-center justify-content-center">
    <div class=" ">
      73,8
    </div>
  </div>
</div>
