<div class="my-accordion" id="accordionExample">
  <div class="accordion-item" *ngFor="let menu of menuProperties">
    <h2 class="accordion-header" id="menu{{menu.id}}">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              [attr.aria-controls]="'collapse' + menu.id" [attr.data-bs-target]="'#collapse' + menu.id"
              aria-expanded="false">
        <i class="{{menu.icon}}"></i> &nbsp;
        {{ menu.titre }}
      </button>
    </h2>
    <div id="collapse{{menu.id}}" [attr.aria-labelledby]="'menu' + menu.id" class="accordion-collapse collapse"
         data-bs-parent="#accordionExample">
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let sousMenu of menu.sousMenus">
          <i class="{{sousMenu.icon}}"></i> &nbsp;
          <a href="javascript:void(0);" (click)="navigate(sousMenu.url)">{{ sousMenu.titre }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
