<div class="col">
  <div class="row p-3 ">
    <div class="col-md-7 d-flex align-items-center p-0 ">
      <h4>Mouvement des stocks</h4>
    </div>
    <div class="col-md-5 text-end pe-3 pt-1">
      <app-bouton-action></app-bouton-action>
    </div>
  </div>
  <div class="card p-3">

    <div class="accordion mb-2" id="accordionExample1">
      <!-- 1 -->
      <div class="card mb-2">
        <div class="card-header p-0">
          <h2 class="mb-0">
            <button class="col-md-12 btn  p-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <app-details-mvtstk-article></app-details-mvtstk-article>
            </button>
          </h2>
        </div>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample1" style="max-height: 300px; overflow-y: scroll; ">
          <div class="card-body">
            <app-details-mvtstk></app-details-mvtstk>
            <app-details-mvtstk></app-details-mvtstk>
            <app-details-mvtstk></app-details-mvtstk>
            <app-details-mvtstk></app-details-mvtstk>

          </div>
        </div>
      </div>
      <!-- 2 -->
      <div class="card mb-2">
        <div class="card-header p-0">
          <h2 class="mb-0">
            <button class="col-md-12 btn p-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
              <app-details-mvtstk-article></app-details-mvtstk-article>
            </button>
          </h2>
        </div>
        <div id="collapseTwo" class="accordion-collapse collapse show" data-bs-parent="#accordionExample2" style="max-height: 300px; overflow-y: scroll; ">
          <div class="card-body">
            <app-details-mvtstk></app-details-mvtstk>
            <app-details-mvtstk></app-details-mvtstk>
            <app-details-mvtstk></app-details-mvtstk>
            <app-details-mvtstk></app-details-mvtstk>

          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row p-0 text-center mt-3 mb-3">
    <app-pagination></app-pagination>
  </div>




</div>
