<div class="col">
  <div class="row p-3 ">
    <div class="col-md-7 d-flex align-items-center p-0 ">
      <h4>Mouvement des stocks</h4>
    </div>
    <div class="col-md-5 text-end pe-3 pt-1">
      <app-bouton-action></app-bouton-action>
    </div>
  </div>
  <div class="card p-3">
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header p-0">
          <h2 class="mb-0">
            <button class="col-md-12 btn text-primary p-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <app-details-mvtstk-article></app-details-mvtstk-article>
            </button>
          </h2>
        </div>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="card-body">
            <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row p-0 text-center mt-3 mb-3">
    <app-pagination></app-pagination>
  </div>


</div>
