<div class="container my-container">
  <div class="card justify-content-center">
    <div class="card-header text-center">
      <h3>S'inscrire</h3>
    </div>
    <div class="card-body">
      <form [formGroup]="regForm" (ngSubmit)="onSubmit()">
        <div class="mb-2">
          <input
            type="text"
            class="form-control form-control-sm"
            placeholder="Nom"
            id="nom"
            formControlName="nom"
            required="required"
          />
        </div>
        <div class="mb-2">
          <input
            type="text"
            class="form-control form-control-sm"
            placeholder="Code fiscal"
            id="code_fiscale"
            formControlName="code_fiscale"
            required="required"
          />
        </div>
        <div class="mb-2">
          <input
            type="email"
            class="form-control form-control-sm"
            placeholder="Email"
            id="email"
            formControlName="email"
            required="required"
          />
        </div>
        <div class="mb-2">
          <input
            type="text"
            class="form-control form-control-sm"
            placeholder="Adresse 1"
            id="adresse1"
            formControlName="adresse1"
            required="required"
          />
        </div>
        <div class="mb-2">
          <input
            type="text"
            class="form-control form-control-sm"
            placeholder="Adresse 2"
            id="adresse2"
            formControlName="adresse2"
            required="required"
          />
        </div>
        <div class="mb-2">
          <input
            type="text"
            class="form-control form-control-sm"
            placeholder="Ville"
            id="ville"
            formControlName="ville"
            required="required"
          />
        </div>
        <div class="mb-2">
          <input
            type="text"
            class="form-control form-control-sm"
            placeholder="Code postal"
            id="code_postal"
            formControlName="code_postal"
            required="required"
          />
        </div>
        <div class="mb-2">
          <input
            type="text"
            class="form-control form-control-sm"
            placeholder="Pays"
            id="pays"
            formControlName="pays"
            required="required"
          />
        </div>
        <div class="mb-2">
          <textarea
            class="form-control form-control-sm"
            placeholder="Description"
            id="description"
            formControlName="description"
            required="required"
          ></textarea>

        </div>
        <div class="mb-3">
          <input
            type="text"
            class="form-control form-control-sm"
            placeholder="Telephone"
            id="telephone"
            formControlName="telephone"
            required="required"
          />
        </div>
        <div class="d-flex justify-content-between">
          <a [routerLink]="['/login']" class="btn btn-link btn-sm">
            Se connecter
          </a>
          <button type="submit" class="btn btn-primary btn-sm">
            <i class="fa-solid fa-check"></i> S'inscrire
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
