body{
  background-color: #eff2ef !important;

}

.background-grey {
  background-color: #eff2ef !important;
}

.border-none {
  border: none !important;
}

.border-right{
  border-right: solid #eff2ef 4px !important;
}

.police{
  font-size: 12px !important ;

}


