<div class="col">
  <div class="row p-3 ">
    <div class="col-md-7 d-flex align-items-center p-0 ">
      <h4>Liste des clients</h4>
    </div>
    <div class="col-md-5 text-end pe-3 pt-1">
      <app-bouton-action></app-bouton-action>
    </div>
  </div>
  <div class="card p-3">
    <app-detail-client></app-detail-client>
    <app-detail-client></app-detail-client>
    <app-detail-client></app-detail-client>
    <app-detail-client></app-detail-client>
  </div>
  <div class="row p-0 text-center mt-3 mb-3">
    <app-pagination></app-pagination>
  </div>




</div>
