<div class="col">
  <div class="row p-3 ">
    <div class="col-md-7 d-flex align-items-center p-0 ">
      <h4>Liste des articles</h4>
    </div>
    <div class="col-md-5 text-end pe-3 pt-1">
      <app-bouton-action
        (clickEvent)="nouveauArticle()"
      ></app-bouton-action>
    </div>
    <div class="alert alert-danger" *ngIf="errorMsg">
      {{errorMsg}}
    </div>
  </div>
  <div class="row p-0">
       <app-detail-article
         *ngFor="let article of listArticle" [articleDto]="article"
         (suppressionResult)="handleSuppression($event)"
       ></app-detail-article>
  </div>
  <div class="row p-0 text-center mt-3 mb-3">
    <app-pagination></app-pagination>
  </div>


</div>
